<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="triangle" class="Triangle">
        <property name="pointA" ref="zeroPoint"/>

        <property name="pointB">
            <bean class="Point">
                <property name="x" value="-20"/>
                <!-- inner bean declaration # best when definition is used only for this specific bean -->
                <property name="y" value="0"/>
            </bean>
        </property>

        <property name="pointC">
            <bean class="Point">
                <property name="x" value="20"/>
                <property name="y" value="0"/>
            </bean>
        </property>
    </bean>

    <bean id="zeroPoint" class="Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>

    <alias name="triangle" alias="triangle-alias"/>
    <!-- another way of referring to a bean,
       using 'triangle-alias' in the pl.bmroz.springIntro.pl.bmroz.springIntro.Runner still refers to 'triangle' bean from line 6 above -->

</beans>