<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>

    <!--<bean id="triangle" class="Triangle">-->
    <!--<property name="pointA" ref="pointA"/>-->
    <!--<property name="pointB" ref="pointB"/>-->
    <!--<property name="pointC" ref="pointC"/>-->
    <!--</bean>-->

    <bean id="centre" class="Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="pointB" class="Point">
        <property name="x" value="-20"/>
        <property name="y" value="0"/>
    </bean>


    <bean id="pointC" class="Point">
        <qualifier value="circleRelated"/>
        <property name="x" value="20"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="circle" class="Circle">
        <!-- with @Autowired annotation Spring auto finds available bean with values but only if there is
        one such bean available -->
    </bean>

    <!--<bean id="centre" class="Point">  &lt;!&ndash; but if we id the bean we want to be injected after the field-->
    <!--from the class (here centre from Circle class) Spring again finds-->
    <!--the correct bean &ndash;&gt;-->
    <!--<property name="x" value="150"/>-->
    <!--<property name="y" value="150"/>-->
    <!--</bean>-->

    <!--<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>-->
    <!--<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>-->
</beans>