<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="triangle" class="Triangle">
        <property name="pointA" ref="pointA"/>
        <property name="pointB" ref="pointB"/>
        <property name="pointC" ref="pointC"/>
    </bean>

    <bean id="pointA" class="Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="pointB" class="Point">
        <property name="x" value="-20"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="pointC" class="Point">
        <property name="x" value="20"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="circle" class="Circle">
        <property name="centre" ref="pointD"/>
        <!-- with this line commented Spring throws exception as
                                                      cannot instantiate the bean without clear property ref -->
    </bean>

    <bean id="pointD" class="Point">
        <property name="x" value="150"/>
        <property name="y" value="150"/>
    </bean>

    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

</beans>